body {
    background-color: #fff;
    color: var(--color-text);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    font-family: 'Roboto', sans-serif;

}

:root {
    --color-text: #434455;
    --color-main: #4D5AE5;
    --color-hover: #404BBF;
    --color-text-accent: #2E2F42;
    --color-text-unaccent: #F4F4FD;

}

.logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-main)
}

.logo-header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text-accent);
}

.non-dots {
    list-style: none;
}

.nav-item {
    font-weight: 700;
    color: var(--color-text-accent);
    text-decoration: none;
}

.nav-item:hover,
.nav-item:focus {
    color: var(--color-hover);
}

.address-link {
    text-decoration: none;
    color: var(--color-text-accent) font-style: normal;
}

.address {
    font-style: normal;
}

.address-link:hover,
.address-link:focus {
    color: var(--color-hover);
}


.heroe {
    background-color: var(--color-text-accent);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFF;
}

.heroe-btn {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFF;
    background-color: var(--color-main);
    cursor: pointer;
    border-width: 0;
}

.heroe-btn:hover,
.heroe-btn:focus {
    background-color: var(--color-hover);
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.index-main-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-text-accent);
}

.index-main-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-text-accent);
}

.our-team {
    background-color: #F4F4FD;
}

.products-desription h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-text-accent);
}

.our-products-btn {
    background-color: var(--color-text-unaccent);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: var(--color-main);
    cursor: pointer;

    border-width: 0;
}

.our-products-btn:hover,
.our-products-btn:focus {
    color: var(--color-text-unaccent);
    background-color: var(--color-hover);
}

.link-portfolio {
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: var(--color-text-accent);
    color: #E7E9FC;
}

.logo-footer {
    color: var(--color-text-unaccent);
}